<div>
  <h2 id="page-heading" data-cy="ProjectHeading">
    <span jhiTranslate="techprimelabApp.project.home.title">Projects</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="techprimelabApp.project.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-project"
        [routerLink]="['/project/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="techprimelabApp.project.home.createLabel">Create a new Project</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  @if (projects?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="techprimelabApp.project.home.notFound">No Projects found</span>
    </div>
  }

  @if (projects && projects.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="projectName">
              <div class="d-flex">
                <span jhiTranslate="techprimelabApp.project.projectName">Project Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="reason">
              <div class="d-flex">
                <span jhiTranslate="techprimelabApp.project.reason">Reason</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="type">
              <div class="d-flex">
                <span jhiTranslate="techprimelabApp.project.type">Type</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="division">
              <div class="d-flex">
                <span jhiTranslate="techprimelabApp.project.division">Division</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="category">
              <div class="d-flex">
                <span jhiTranslate="techprimelabApp.project.category">Category</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="priority">
              <div class="d-flex">
                <span jhiTranslate="techprimelabApp.project.priority">Priority</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="department">
              <div class="d-flex">
                <span jhiTranslate="techprimelabApp.project.department">Department</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="startDate">
              <div class="d-flex">
                <span jhiTranslate="techprimelabApp.project.startDate">Start Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="endDate">
              <div class="d-flex">
                <span jhiTranslate="techprimelabApp.project.endDate">End Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="location">
              <div class="d-flex">
                <span jhiTranslate="techprimelabApp.project.location">Location</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="status">
              <div class="d-flex">
                <span jhiTranslate="techprimelabApp.project.status">Status</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (project of projects; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/project', project.id, 'view']">{{ project.id }}</a>
              </td>
              <td>{{ project.projectName }}</td>
              <td jhiTranslate="{{ 'techprimelabApp.Reason.' + project.reason }}">{{ project.reason }}</td>
              <td jhiTranslate="{{ 'techprimelabApp.Type.' + project.type }}">{{ project.type }}</td>
              <td jhiTranslate="{{ 'techprimelabApp.Division.' + project.division }}">{{ project.division }}</td>
              <td jhiTranslate="{{ 'techprimelabApp.Category.' + project.category }}">{{ project.category }}</td>
              <td jhiTranslate="{{ 'techprimelabApp.Priority.' + project.priority }}">{{ project.priority }}</td>
              <td jhiTranslate="{{ 'techprimelabApp.Department.' + project.department }}">{{ project.department }}</td>
              <td>{{ project.startDate | formatMediumDatetime }}</td>
              <td>{{ project.endDate | formatMediumDatetime }}</td>
              <td>{{ project.location }}</td>
              <td>{{ project.status }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/project', project.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/project', project.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(project)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (projects && projects.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
